@import url("nullstyle.css");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
body {
	height: 100vh;
	width: 100vw;

	overflow: hidden;
	font-family: "Amatic SC";
	background: rgba(240, 162, 17, 0.884);
	cursor: none;
}
.wrapper {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	min-width: 940px;
	min-height: 500px;
	position: relative;
}
header {
	display: flex;
	flex-direction: column;
}
h1 {
	font-size: 70px;
	margin-bottom: 20px;
}
h1 span {
	display: inline-block;
	padding: 2px 10px;
	background: rgb(241, 191, 97);
}

.menu {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 30px;
	width: 150px;
	border: 1px solid #000;
}
.top-score {
	font-size: 30px;
	position: absolute;
	top: 20px;
	left: 20px;
}
.menu li {
	padding: 0px 35px;
	margin-bottom: 10px;
	position: relative;
}
.menu li:hover::before {
	content: "";
	width: 25px;
	height: 25px;
	position: absolute;
	top: 0;
	left: -35px;
	background: url("../assets/point.png") center / cover no-repeat;
}
.menu li.active::before {
	content: "";
	width: 25px;
	height: 25px;
	position: absolute;
	top: 0;
	left: 5px;
	background: url("../assets/check-mark.png") center / cover no-repeat;
}
.start-b {
	display: block;
	border-radius: 5px;
	padding: 0px 5px;
	font-size: 35px;
}
button {
	cursor: none;
}
.game {
	flex: 1 1 100%;
	width: 600px;
	height: 500px;

	display: flex;
	flex-wrap: wrap;
	padding-bottom: 10px;
}
.hole {
	flex: 0 1 33%;
	position: relative;
	overflow: hidden;
}
.hole::after {
	content: "";
	display: block;
	background: url("../assets/dirt.svg") top / contain no-repeat;
	position: absolute;
	overflow: hidden;
	bottom: -15px;
	width: 100%;
	height: 70px;
}
.mole {
	background: url("../assets/mole.svg") bottom center no-repeat;
	background-size: 60%;
	position: absolute;
	top: 100%;
	height: 100%;
	width: 100%;
	display: block;
	transition: all 0.3s ease 0s;
}
.hole.up .mole {
	top: 0%;
	transition: all 0.3s ease 0s;
}
.cursor {
	position: absolute;
	top: 0;
	left: 0;
	width: 50px;
	height: 50px;
	background: url("../assets/hammer.png") top / cover no-repeat;
	transform: scale(-1, 1);
	z-index: 10;
	pointer-events: none;
}
.cursor.expand {
	transform: scale(-1, 1) rotate(45deg);
	transition: all 0.3s ease 0s;
}
